/bkp-old
/node_modules
/public/storage
/public/asistencias
/public/informe_de_ventas
Homestead.yaml
Homestead.json
.env
/config
/nbproject/private/
.htaccess
nbproject/
/vendor
/.phpintel
/.idea
test.blade.php
.htaccess
storage

nbproject